
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; font-size: 2rem;" class="countdown">
    <div style="display: flex; flex-direction: column; align-items: center;" class="timer">
        <div style="font-size: 3rem;" class="time" id="days"></div>
        <div>Days</div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;" class="timer">
        <div style="font-size: 3rem;" class="time" id="hours"></div>
        <div> Hours</div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;" class="timer">
        <div style="font-size: 3rem;" class="time" id="minutes"></div>
        <div> Minutes</div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;" class="timer">
        <div style="font-size: 3rem;" class="time" id="seconds"></div>
        <div> Seconds</div>
    </div>
</div>



<a asp-area="User" asp-controller="RegistrationForm" asp-action="Create" class="btn btn-primary bg-gradient border-0 form-control">
    Register Now
</a>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Set the date and time to countdown to (YYYY, MM, DD, HH, MM, SS)
        const countDownDate = new Date("2023-12-23T23:59:59").getTime();

        // Update the countdown every 1 second
        const x = setInterval(function () {
            const now = new Date().getTime();
            const distance = countDownDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("days").innerText = days;
            document.getElementById("hours").innerText = hours;
            document.getElementById("minutes").innerText = minutes;
            document.getElementById("seconds").innerText = seconds;

            // If the countdown is over, display a message
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("days").innerText = "0";
                document.getElementById("hours").innerText = "0";
                document.getElementById("minutes").innerText = "0";
                document.getElementById("seconds").innerText = "0";
                document.getElementById("countdown").innerText = "EXPIRED";
            }
        }, 1000);
    </script>
}