@model RegistrationForm

<div class="container row pt-4">
    <
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Registration Successfully</h1>
        Unique Id: @Model.TeamId  <br /><br />
        <img src="~/images/banner/minithon.jpeg" width="25%" />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
        Your Team has been Registered successfully! <br />
        <a asp-area="User" asp-controller="Home" asp-action="Minithon" class="btn btn-primary">Back to Minithon 2024</a>
    </div>
</div>